<div class="m-sm-2 m-md-3 m-lg-3 m-xl-3 m-xxl-3 ">


  <h2 class="">Paises</h2>
  <hr>

  <ul class="list-group ">
    <li routerLink="countries/by-capital" routerLinkActive="active" class="list-group-item pointer" >
      Por Capital
    </li>

    <li routerLink="countries/by-country" routerLinkActive="active" class="list-group-item pointer">
      Por Pais
    </li>

    <li routerLink="countries/by-region" routerLinkActive="active" class="list-group-item pointer">
      Por Region
    </li>

  </ul>
</div>
