<div class="ms-sm-2 responsiveContentXS ">

  <h2 class="text-center">Por Capital</h2>
  <hr>

  <div class="row RowXs ">
    <div class="colcolRes ">
      <!-- SearchBox -->
      <!-- (tagSearchEmit) = "searchByCapital($event)" -->
      <shared-searchBox [initialValue]="initialValue" placeholder="Buscar pais"
        (onDeounceTag)="searchByCapital($event)"></shared-searchBox>

    </div>
  </div>

  <div class="row RowXs">
    <div class="col withOutMgPg ms-2">
      <!-- Tabla de resultado -->
      <hr>
      <ul class="withOutMgPg  ">
        <!-- Si es false no muestra el componente, si es true muestra el componente, solo es true cuando se ejecuta la funcion searchByCapital -->
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries" ></countries-table>
      </ul>
    </div>
  </div>
</div>
